.btn-blue {
    
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 7px;
    padding: 16px;
    width: 20%;
    text-align: center;
    margin: 24px auto;
}

.btn-blue:hover {
    background-color: white;
    color: grey;
    transition: 1s;

} 