@import "banner.css";
@import "button.css";
@import "cards.css";
@import "footer.css";

body{
    margin: 0;
}


body{
    margin: 0;
}

h2 {
    text-align: center;
}

.card-white{
    text-align: center;

}
















